<div>
  <p class="text-danger">
    Ninja world
  </p>
  <p [class]="successClass">Ninja world</p>
  <p [ngClass]="messageClasses">
    Ninja world
  </p>
  <input [disabled]="getIsDisabled()" type="text" placeholder="text" name="text">
  <input disabled type="text" placeholder="text" name="text2">
  <input [disabled]="isTDisabled" type="text" placeholder="text" name="text3">
  <input bind-disabled="isTDisabled" type="text" placeholder="text" name="text4">

  <h2 [style.color]="'red'">Naruto</h2>
  <h2 [style.color]="hasError ? 'brown' : 'purple'">Naruto</h2>
  <h2 [ngStyle] = "styles">Naruto</h2>
  <h3 *ngIf="false">hey there</h3>
  <h3 *ngIf="condProp; else nextBlock">sfsf</h3>
  <ng-template #nextBlock>vooo</ng-template>
 <br> *******************************
  <div *ngFor="let color of colors; index as i">
    At {{i}} we have {{color}}
  </div>
</div>
{{messageFromChild}}
***********************************

<app-test (passToApp)="messageFromChild=$event" [messageFromApp]="title"></app-test>